@using TP_Final_Grupo_06.Models;



<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="width:100%;height:50%">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="https://www.informabtl.com/wp-content/uploads/2016/02/promociones.jpg" style="height:500px;width:100%" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://cdn.blogdechollos.com/600x0/blogdechollos/2017/01/20-EXTRA-outlet-Adidas-barato-ropa-de-marca-barato-ofertas-en-calzado-chollo.jpg" style="height:500px;width:100%" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://www.ofertitas.es/wp-content/uploads/2017/06/rebajas-nike-octubre-2017-codigo-descuento.jpg" style="height:500px;width:100%" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
    </a>
</div>

<div class="rectangle" style="height: 26vw;width: 100%;background-color:darkgrey;margin-top:10% ">
    <div class="card" style="width: 32%;height:210px;margin-top: 3%;margin-left:1%;float: left;">
        <a href="~/Home/MostrarLocales"><img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/3/36/Logo_nike_principal.jpg" alt="Card image cap"></a>
    </div>
    <div class="card" style="width: 32%;height:210px;margin-top: 3%;margin-left:1%;float: left;">
        <a href="~/Home/MostrarLocales"><img class="card-img-top" src="https://logosmarcas.com/wp-content/uploads/2018/03/Adidas-logo.png" alt="Card image cap"></a>
    </div>
    <div class="card" style="width: 32%;height:210px;margin-top: 3%;margin-left:1%;float: left;">
        <a href="~/Home/MostrarLocales"><img class="card-img-top" src="https://logosmarcas.com/wp-content/uploads/2018/03/PUMA-s%C3%ADmbolo.png" alt="Card image cap"></a>
    </div>
    <div style="width:100%">
        <a href="~/Home/MostrarLocales"><button type="button" class="Boton" style="background-color:white;margin:0 auto;width:50%;border:3px;padding:10px;margin-top:2%;text-align:center">Ver Mas Locales</button></a>
    </div>
</div>

<div class="rectangle" style="margin:4%">
    <img src="../Img/mapa.png">
</div>



