@using TP_Final_Grupo_06.Models;
@model Usuario
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <p> Nombre del usuario: @Html.TextBoxFor(x => x.usuario)</p>
    <p>Contraseña: @Html.TextBoxFor(x => x.contraseña, new { type = "password" })</p>
    <input type="submit" value="Login" />
    @ViewBag.resultado
}
