@using TP_Final_Grupo_06.Models;
@model Local
@{
    ViewBag.Title = "MostrarLocales";
}

<h2>Locales</h2>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Id Local</th>
                <th>Nombre</th>
                <th>Piso</th>
                <th>Lugar</th>
            </tr>
        </thead>

        @foreach (Local l in ViewBag.Lista)
        {
            <tbody>
                <tr>
                    <td>@l.id_local</td>
                    <td>@l.nombre_local</td>
                    <td>@l.piso</td>
                    <td>@l.lugar</td>
                </tr>
            </tbody>
        }
    </table>
</div>
</body>
</html>