@using TP_Final_Grupo_06.Models;
@model Usuario
@{
    ViewBag.Title = "Registrarse";
}

<h2>Registrarse</h2>

@using (Html.BeginForm("Registrarse", "Home", FormMethod.Post))
{
    <p> Nombre del usuario: @Html.TextBoxFor(x => x.usuario)</p>
    <p>Contraseña: @Html.TextBoxFor(x => x.contraseña)</p>
    <input type="submit" value="Registrarse" />
    @ViewBag.resultado
}